{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
    <link rel="icon" type="image/x-icon" href="{% static 'drag_drop/images/turn_on.jpg' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

    {% if  user.is_authenticated%}
        <!--nav BAR ZONE-->
        <nav class="navbar navbar-expand-md navbar-light pt-3 px-5 shadow">
            <div class="container-xxl">
                <a href="#drag_drop" class="navbar-brand">
                    <span class="fw-bold text-secondary">Upload Files</span>
                </a>

                <!-- toggle button for mobile nav-->
                <button class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#main-nav" 
                        aria-controls="main-nav" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>    
                </button>


                <!-- navbar links -->
                <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                    <ul class="navbar-nav">
                        
                        <li class="nav-item ">
                            <a class="nav-link text-decoration-underline"> usuario: {{user}}</a>
                        </li>

                        <li class="nav-item"> <!--se muestra de medio en adelante-->
                            <a href="{% url 'login:logout_user'%}" class="btn btn-outline-secondary">Sign out</a>
                        </li>                    

                    </ul>
                </div>

            </div>
        </nav>



        <!--UpLoad ZONE-->
        <div class="container mt-5 shadow">
            <h2 class="Display-1">Upload Files</h2>
            <p class="text-muted">This section will be used to upload your files.</p>
        </div>

        <div class="container justify-content-center align-items-center">
            <div class="row border border-secondary rounded">
                <div class="col-6">
                    <div class="m-2">
                        <form action="{% url 'drag_drop:drag_drop_screen'%}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                            <label id="myfile" class="form-label">First File</label>
                            <input type="file" class="form-control" name="First_File" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">Select your file.</div>
                            </div>
                            <button type="submit" class="btn btn-success">Upload</button>
                        </form>
                    </div>
                </div>

                <!--div class="col-6">
                    <div class="m-2">
                        <form enctype="multipart/form-data" method="POST">
                            <div class="mb-3">
                            <label id="myfile" class="form-label">Second File</label>
                            <input type="file" class="form-control" id="first_file" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">Select your file.</div>
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                    </div>
                </div-->
            </div>

            {% if messages %}
                {% for message in messages %}
                    
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Carga de Archivo: </strong>{{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    
                {% endfor %}
            {% endif %}
        </div>
        
        

    {% else %}
        <h1 class="bg-danger">El usuario es {{user}}</h1>
    {% endif %}

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
